*{
    font-family: NotoSansCJKjp;
    font-size: 16px;
    min-height: 0;
    color: white;
    margin-top: 2px;
}

window#waybar {
    background: transparent;
}

#custom-arch {
    border-radius: 16px;
    background: #404552;
    border: 2px solid #26D9E6;
    margin-right: 16px;
    padding-right: 2px;
    margin-left: 4px;
}

#cpu {
    padding: 0 10px;
    background: #404552;
    border-radius: 16px 0 0 16px;
    border-left: 2px solid #26D9E6;
    border-bottom: 2px solid #26D9E6;
    border-top: 2px solid #26D9E6;
}

#memory {
    padding: 0 10px;
    background: #404552;
    border-bottom: 2px solid #26D9E6;
    border-top: 2px solid #26D9E6;
}

#battery {
    border-radius: 16px;
    background: #404552;
    border-radius: 0 16px 16px 0;
    border-top: 2px solid #26D9E6;
    border-bottom: 2px solid #26D9E6;
    border-right: 2px solid #26D9E6;
    padding: 0 10px;
}

#clock {
    padding: 0 10px;
    background: #404552;
    border-radius: 16px;
    border: 2px solid #26D9E6;
}

#window {
    background: #404552;
    border-radius: 16px 0 0 16px;
    border-top: 2px solid #26D9E6;
    border-left: 2px solid #26D9E6;
    border-bottom: 2px solid #26D9E6;
    padding: 0 10px;
}

#tray {
    padding: 0 10px;
    background: #404552;
    border-bottom: 2px solid #26D9E6;
    border-top: 2px solid #26D9E6;
}

#wireplumber {
    padding: 0 10px;
    background: #404552;
    border-radius: 0 16px 16px 0;
    border-right: 2px solid #26D9E6;
    border-bottom: 2px solid #26D9E6;
    border-top: 2px solid #26D9E6;
    margin-right: 4px;
}
