* {
  font-family: NotoSansCJKjp;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(41, 46, 66, 0.75);
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(38, 217, 230);
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: rgba(0, 0, 0, 0.25);
}

#text {
  margin: 2px;
}
