* {
	background-image: none;
	box-shadow: none;
    font-size: 16pt;
}

window {
	background-color: rgba(12, 12, 12, 0.5);
}

button {
    border-radius: 8px;
    border-color: #595959;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #404552;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
    margin: 8px;
}

button:active, button:hover {
	background-color: #5294e2;
	outline-style: none;
    border-color: #26D9E6;
}

#shutdown {
    background-image: image(url("./icons/shutdown.svg"), url("./icons/shutdown.svg"));
    margin-top: 192px;
    margin-bottom: 192px;
    margin-left: 256px;
}

#suspend {
    background-image: image(url("./icons/suspend.svg"), url("./icons/suspend.svg"));
    margin-top: 192px;
    margin-bottom: 192px;
}

#reboot {
    background-image: image(url("./icons/reboot.svg"), url("./icons/reboot.svg"));
    margin-top: 192px;
    margin-bottom: 192px;
    margin-right: 256px;
}
