window {
    background-color: #26D9E6;
    border-radius: 64px;
}

#outer-box {
	margin: -2px
}

#inner-box {
	background-color: #404552;
	border-radius: 64px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7);
	padding: 5px;
	margin: 5px
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 32px;
	padding-right: 32px;
	margin: 5px;
}

button:hover {
	background-color: rgba (255, 255, 255, 0.1);
    border-radius: 64px;
}
