* {
    font-family: NotoSansCJKjp;
    border-radius: 16px
}

#panel-top {
    border: 2px solid #26D9E6
}

#clock {
    font-size: 16px
}

#random-wallpaper-button {
    background: transparent;
    border: none
}

#task-box-focused {
    background-color: rgba (255, 255, 255, 0.1)
}

#task-box-icon {
    padding: 0 4px
}
