* {
    border-radius: 16px;
}

button {
}

#task-box {
    padding-left: 4px;
    padding-right: 4px
}

#task-box-focused {
    background-color: rgba (255, 255, 255, 0.12);
    padding-left: 4px;
    padding-right: 4px
}

#button-exit {
    background: #404552;
    border: 2px solid #26D9E6;
    margin-left: 8px;
}

#panel-top {
    background: transparent;
    color: #eeeeee
}

#executor-label {
    font-family: NotoSansCJKjp
}

#root-cpuav {
    background: #404552;
    border-radius: 0;
    border-bottom: 2px solid #26D9E6;
    border-top: 2px solid #26D9E6;
}

#cpuav {
    padding-right: 16px;
}

#root-memory {
    background: #404552;
    border-radius: 0 16px 16px 0;
    border-top: 2px solid #26D9E6;
    border-bottom: 2px solid #26D9E6;
    border-right: 2px solid #26D9E6;
}

#memory {
    padding-right: 8px;
}

#clock {
    font-family: NotoSansCJKjp;
    font-size: 16px;
    background: #404552;
    border: 2px solid #26D9E6;
    padding: 0 8px;
}

#hyprland-workspaces {
    background: #404552;
    border-radius: 16px 0 0 16px;
    border-left: 2px solid #26D9E6;
    border-top: 2px solid #26D9E6;
    border-bottom: 2px solid #26D9E6;
    padding-right: 24px;
    margin-left: 8px;
}

#hyprland-workspaces-item {
    padding: 0 8px;
}

#tray {
    background: #404552;
    border: 2px solid #26D9E6;
}

#inner-tray {
    padding: 0 8px;
}

#controls-overview {
    font-size: 16px;
    background: #404552;
    border: 2px solid #26D9E6;
    padding: 0 8px;
    margin-left: 8px;
}

#controls-window {
    color: #eeeeee;
    font-size: 16px;
    background: #404552;
    border: 2px solid #26D9E6;
    margin-top: 8px;
}
