* {
    border-radius: 16px;
}

#task-box {
    padding-left: 4px;
    padding-right: 4px
}

#task-box-focused {
    background-color: rgba (255, 255, 255, 0.12);
    padding-left: 4px;
    padding-right: 4px
}

#button-exit {
    margin-left: 8px;
    background: transparent;
    border: none;
}

#panel-top {
    background: #404552;
    color: #eeeeee;
    border: 2px solid #26D9E6;
}

#executor-label {
    font-family: NotoSansCJKjp
}

#root-cpuav {
    background: transparent;
}

#cpuav {
    padding-right: 16px;
}

#root-memory {
    background: transparent;
}

#memory {
    padding-right: 16px;
}

#clock {
    font-family: NotoSansCJKjp;
    font-size: 16px;
    padding: 0 8px;
}

#hyprland-workspaces {
    padding-right: 24px;
    margin-left: 8px;
}

#hyprland-workspaces-item {
    padding: 0 8px;
}

#controls-overview {
    font-size: 16px;
    padding: 0 8px;
}

#controls-window {
    color: #eeeeee;
    font-size: 16px;
}
