[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=/usr/bin/xremap --watch /home/yuto/.config/xremap/config.yml
Restart=always

[Install]
WantedBy=default.target
